@import url(base.css);

.masthead{
    background: linear-gradient(rgba(0, 0, 0, 0.40), rgba(0, 0, 0, 0.40)), url(/static/images/hero-bg.png)no-repeat;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}