@import url(base.css);
body{
    background-color: var(--background);
}
.view-section{
    margin-top: 100px;
}
.display-fs-sm{
    font-size: 0.9em;
}
.display-fs{
    font-size: 1em;
}
.display-sm-fs{
    font-size: 1.1em;
}
.display-ic{
    font-size: 2em;
}
@media only screen and (max-width: 768px) {
    .search-input, .search-button{
        font-size: 1.6em;
    }
    .view-section{
        margin-top: 75px;
    }
    .display-fs-sm{
        font-size: 1.1em;
    }
    .display-fs{
        font-size: 1.2em;
    }
    .display-sm-fs{
        font-size: 1.3em;
    }
    .display-ic{
        font-size: 1.8em;
    }
}