@import url(base.css);

.edit-media{
    position: absolute;
    top: 1em;
    right: 1em;
    width: 3em;
    height: 3em;
    border: none;
    background-color: #FFFFFF;
}
.edit-media i{
    font-size: 1.5em;
}
.avatar{
    width: 13em;
    aspect-ratio: 1/1;
    margin-top: -11em;
    background-color: #fafafa;
}
.avatar-image{
    width: 94%;
    aspect-ratio: 1/1;
    object-fit: contain;
}
.name{
    margin-top: 0.7em;
    margin-bottom: 0em;
    font-size: 1.8em;
    font-weight: 650;
}
.bio{
    font-size: 1.2em;
    font-weight: 450;
    margin-top: 0;
}
.city-country{
    margin-top: 0.5em;
    font-size: 1em;
    font-weight: 450;
    color: #333333;
}
.email{
    margin-top: 0.1em;
}
.website a, .email a{
    margin-bottom: 0;
    font-size: 1em;
    font-weight: 450;
    font-size: 1;
    text-decoration: none;
}
.website a:hover, .email a:hover{
    text-decoration: underline;
}
.edit{
    text-align: center;
    font-size: 1em;
    font-weight: 450;
    text-decoration: none;
    background-color: #FFFFFF;
    transition: 0.2s;
    border: 0;
}
.edit:hover, .edit-media:hover{
    background-color: #f9f9f9;
}
.section-label{
    font-size: 1.3em;
    font-weight: 600;
}
.modal-body label{
    font-size: 1.1em;
}
.modal-body input, .modal-body textarea, .display-fs{
    font-size: 1em;
}
/* For mobile phone */
@media only screen and (max-width: 991px){
    .name{
        margin-top: 0.7em;
        margin-bottom: 0em;
        font-size: 2em;
        font-weight: 650;
    }
    .bio{
        font-size: 1.4em;
        font-weight: 450;
        margin-top: 0;
    }
    .city-country{
        margin-top: 0.7em;
        font-size: 1.2em;
        font-weight: 450;
        color: #333333;
    }
    .website a, .email a{
        font-size: 1.2em;
        font-weight: 450;
        font-size: 1;
        text-decoration: none;
    }
    .avatar{
        width: 15em;
        aspect-ratio: 1/1;
        margin: 0 auto;
        margin-top: -7em;
    }
    .edit-profile{
        font-size: 1.2em;
    }
    .info *{
        text-align: center;
    }
    .modal-body label{
        font-size: 1.4em;
    }
    .edit-media{
        width: 4em;
        height: 4em;
    }
    .edit-media i{
        font-size: 1.8em;
    }
    .modal-body label{
        font-size: 1.3em;
    }
    .modal-body input, .modal-body textarea, .display-fs{
        font-size: 1.2em;
    }
    .section-label{
        font-size: 1.5em;
    }
    
}