{% extends 'base.html' %}
{% block head %}
<title>Clas | Home</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/index.css' )}}">
{% endblock %}
{% block body %}
<nav class="navbar navbar-expand-lg" style="background-color: #6936F5">
  <div class="container-lg">
    <a class="navbar-brand" href="#">
      <img src="{{ url_for('static', filename='images/logo-no-background.png' )}}" alt="" width="100">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link text-white fw-medium mx-1 my-0 my-sm-1" href="/login">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white fw-medium mx-1 my-0 my-sm-1" href="/signup">Sign up</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="hero">
</div>
{% endblock %}