{% extends 'base.html' %}
{% block head %}
    <title>Clas | Login</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/auth.css' )}}">
{% endblock %}
{% block body %}
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                {% if category == 'error' %}
                <div class="alert alert-danger fixed-top top-0" role="alert">
                    {{ message }}
                </div>
                {% else %}
                <div class="alert alert-success fixed-top  top-0" role="alert">
                    {{ message }}
                </div>
                {% endif %}
            {% endfor %}
        {% endif %}
    {% endwith %}
    <div class="d-flex align-items-center justify-content-center login bg-light">
        <div class="p-3 bg-light login-form">
            <form method="POST">
                <div class="login-label mx-auto">
                    <img src="{{ url_for('static', filename='images/clas-black-transparent.png' ) }}" alt="" width="150" class="d-block mb-2 mx-auto">
                    <p class="text-center fs-4 fw-semibold">Sign in</p>
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label fw-medium">Email address</label>
                    <input type="email" class="form-control" id="email" name="email" required>
                  </div>
                  <div class="mb-3">
                    <label for="password" class="form-label fw-medium">Password</label>
                    <input type="password" class="form-control" id="password" name="password" required>
                  </div>
                  <div class="mb-3">
                    <input type="checkbox" class="form-check-input me-1" id="remember" name="remember">
                    <label for="remember" class="form-label fw-medium">Remember Me?</label>
                  </div>
                  <div class="mb-3">
                    <button class="btn btn-dark form-control fw-medium" type="submit">Sign in</button>
                  </div>
            </form>
            <div>
                <p class="fw-medium">Don't have a Clas account? <a href="/signup">Sign up!</a></p>
            </div>
        </div>
    </div>

{% endblock %}