{% extends 'main.html' %}
{% block meta %}
    <title>Clas | Profile</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/profile.css' ) }}">
{% endblock %}
{% block section %}
    <div class="d-flex flex-column w-100">
        <section class="personal-info rounded-3 bg-white box-shadow" style="height: fit-content; width: 100%;">
            <div class="banner w-100" style="height: 23em;">
                <img class="object-fit-cover rounded-top-3" src="{{ url_for('static', filename='images/banner-placeholder.jpg' ) }}" alt="" style="width: 100%; height: 100%;">
            </div>
            <div class="d-flex flex-column bg-white rounded-bottom-3 mx-lg-5 mx-3 mx-sm-3 py-3">
                <div class="d-flex rounded-circle justify-content-center avatar box-shadow">
                    <img src="https://avatars.githubusercontent.com/u/107859471?v=4" alt="" class="align-self-center avatar-image rounded-circle">
                </div>
                <div class="w-100 info">
                    <div class="name"><p class="space-none"> {{ user.fullname }} </p></div>
                    {% if user.bio %}
                    <div class="bio"><p class="space-none">{{ user.bio }}</p></div>
                    {% endif %}
                    {% if user.city or user.country %}
                    <div class="city-country"><p class="space-none">
                        {% if user.city %}
                        {{ user.city }} city, 
                        {% endif %}
                        {% if user.country %}
                        {{ user.country }}
                        {% endif %}
                        </p>
                    </div>
                    {% endif %}
                    <div class="email"><a class="space-none text-primary" href="mailto:{{ user.email }}">{{ user.email }}</a></div>
                    {% if user.url %}
                    <div class="website"><a class="space-none text-primary" href="{{ user.url }}">{{ user.url }}</a></div>
                    {% endif %}
                </div>
            </div>
        </section>
        <button type="button" class="d-flex align-content-center justify-content-center w-100 rounded-3 py-3 my-2 box-shadow edit-profile text-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
            <i class="bi bi-pencil-fill me-2 fs-6"></i> Edit Profile
        </button>
        
        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-4" id="exampleModalLabel">Personal Information</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <form action="/home/profile/edit-personal" method="POST">
                        <div class="modal-body">
                                <div class="mb-3">
                                    <label for="name" class="form-label fw-medium">Full Name</label>
                                    <input id="name" name="name" type="text" class="form-control" value="{{ user.fullname }}" required>
                                </div>
                                <div class="mb-3">
                                    <label for="bio" class="form-label fw-medium">Your Bio</label>
                                    <textarea id="bio" name="bio" class="form-control" aria-label="With textarea">{% if user.bio %}user.bio{% endif %}
                                    </textarea>
                                </div>
                                <div class="mb-3">
                                    <label for="city" class="form-label fw-medium">City</label>
                                    <input id="city" name="city" type="text" class="form-control"
                                    {% if user.city %}
                                    value="{{ user.city }}"
                                    {% endif %}>
                                </div>
                                <div class="mb-3">
                                    <label for="country" class="form-label fw-medium">Country</label>
                                    <input id="country" name="country" type="text" class="form-control" 
                                    {% if user.country %}
                                    value="{{ user.country }}"
                                    {% endif %}>
                                </div>
                                <div class="mb-3">
                                    <label for="url" class="form-label fw-medium">Your Website or Personal URL</label>
                                    <input id="url" name="url" type="url" class="form-control" 
                                    {% if user.url %}
                                    value="{{ user.url }}"
                                    {% endif %}>
                                </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Save changes</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}