{% extends 'main.html' %}
{% block meta %}
    <title>Clas | Profile</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/profile.css' ) }}">
{% endblock %}
{% block section %}
    <div class="d-flex flex-column w-100">
        <section class="personal-info rounded-3 bg-white box-shadow" style="height: fit-content; width: 100%;">
            <div class="d-block banner w-100" style="height: 23em; width: 100%; position: relative;">
                <button class="d-block box-shadow edit-media rounded-circle z-3"><i class="d-block bi bi-pencil-fill mx-auto text-primary align-self-center" data-bs-toggle="modal" data-bs-target="#mediaModal"></i></button>
                <img src="/data/{{user.id}}_background" onerror="this.onerror=null; this.src='https://media.istockphoto.com/id/1133363749/photo/white-canvas-texture.jpg?b=1&s=170667a&w=0&k=20&c=JvXOFDmN3ACSBnWMQPJfwebOw4y5vTv48OAOvIXu3S4='" alt="" class="object-fit-cover rounded-top-3 z-1" style="width: 100%; height: 100%;">
            </div>
            <div class="d-flex flex-column bg-white rounded-bottom-3 mx-lg-5 mx-3 mx-sm-3 py-3" style="position: relative;">
                <div class="d-flex rounded-circle justify-content-center avatar box-shadow">
                    <img src="/data/{{user.id}}_avatar" onerror="this.onerror=null; this.src='https://upload.wikimedia.org/wikipedia/commons/8/89/Portrait_Placeholder.png'" class="align-self-center avatar-image rounded-circle">
                </div>
                <div class="w-100 info">
                    <div class="name"><p class="space-none">{{ user.fullname }}</p></div>
                    {% if user.bio %}
                    <div class="bio"><p class="space-none">{{ user.bio }}</p></div>
                    {% endif %}
                    {% if user.city or user.country %}
                    <div class="city-country"><p class="space-none">
                        {% if user.city %}
                        {{ user.city }} city
                        {% endif %}
                        {% if user.country %}
                        {{ user.country }}
                        {% endif %}
                        </p>
                    </div>
                    {% endif %}
                    <div class="email"><a class="space-none text-primary" href="mailto:{{ user.email }}">{{ user.email }}</a></div>
                    {% if user.url %}
                    <div class="website"><a class="space-none text-primary" href="{{ user.url }}">{{ user.url }}</a></div>
                    {% endif %}
                </div>
            </div>
        </section>
        <button type="button" class="d-flex align-content-center justify-content-center w-100 rounded-3 py-3 mt-2 mb-3
        box-shadow edit text-primary display-fs" data-bs-toggle="modal" data-bs-target="#personalModal">
            <i class="bi bi-pencil-fill me-2 fs-6"></i> Edit Profile
        </button>

        <section class="basic-info position-relative rounded-3 bg-white box-shadow" style="height: fit-content; width: 100%;">
            <div class="d-flex flex-column mx-lg-5 mx-3 mx-sm-3 py-3">
                <div class="section-label w-100">
                    <p class="space-none">Basic Info</p>
                    <hr class="w-100 mt-0">
                </div>
                <div class="row">
                    <div class="col-12 col-lg-6 col-md-12 col-sm-12 pb-2">
                        {% if user.home_address or user.city or user.country %}
                            <p class="space-none display-fs"><span class="fw-semibold">Address:</span> 
                            {% if user.home_address %}
                            {{user.home_address}}
                            {% endif %}
                            {% if user.city %}
                            · {{user.city}} city
                            {% endif %}
                            {% if user.country %}
                            · {{user.country}}
                            {% endif %}</p>
                        {% endif %}
                        {% if user.date_of_birth %}
                        <p class="space-none display-fs"><span class="fw-semibold">Date of Birth:</span> {{user.date_of_birth.strftime('%B %d, %Y')}} </p>
                        {% endif %}
                    </div>
                    <div class="col-12 col-lg-6 col-md-12 col-sm-12 pb-2">
                        {% if user.current_grade %}
                        <p class="space-none display-fs"><span class="fw-semibold">Current grade:</span> {{user.current_grade}} </p>
                        {% endif %}
                        {% if user.highschool %}
                        <p class="space-none display-fs"><span class="fw-semibold">Hignschool:</span> {{user.highschool}} </p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </section>
        <button type="button" class="d-flex align-content-center justify-content-center w-100 rounded-3 py-3 mt-2 mb-3
        box-shadow edit text-primary display-fs" data-bs-toggle="modal" data-bs-target="#basic_infoModal">
            <i class="bi bi-pencil-fill me-2 fs-6"></i> Edit Basic Info
        </button>

        <section class="grading position-relative rounded-3 bg-white box-shadow" style="height: fit-content; width: 100%;">
            <div class="d-flex flex-column mx-lg-5 mx-3 mx-sm-3 py-3">
                <div class="section-label w-100">
                    <p class="space-none">My Grading</p>
                    <hr class="w-100 mt-0">
                </div>
                <div class="row">
                    <div class="col-6">
                        <p class="space-none display-fs"><span class="fw-semibold">Subject</span></p>
                    </div>
                    <div class="col-4">
                        <p class="space-none display-fs text-center"><span class="fw-semibold">Overall score</span></p>
                    </div>
                    <div class="col-1">
                        <p class="space-none display-fs text-center"><span class="fw-semibold">Grade</span></p>
                    </div>
                    <div class="col-1">
                    </div>
                </div>
                {% if user.grades %}
                <hr class="w-100 my-0">
                    {% for grade in user.grades %}
                    <div class="row mt-2">
                        <div class="col-6">
                            <p class="space-none display-fs">{{grade.subject}}</span></p>
                        </div>
                        <div class="col-4">
                            <p class="space-none display-fs text-center">{{grade.overall}}</p>
                        </div>
                        <div class="col-1">
                            <p class="space-none display-fs text-center">{{grade.grade}}</p>
                        </div>
                        <div class="col-1"><a class="btn space-none delete-button" style="outline: none" href="{{ url_for('views.delete_grade',grade_id=grade.id) }}"><i class="bi bi-trash-fill display-fs text-center"></i></a>
                        </div>
                    </div>
                    {% endfor %}
                {% endif %}
                <hr class="w-100 mt-0">
            </div>
        </section>
        <button type="button" class="d-flex align-content-center justify-content-center w-100 rounded-3 py-3 mt-2 mb-3
        box-shadow edit text-primary display-fs" data-bs-toggle="modal" data-bs-target="#gradingModal">
            <i class="bi bi-pencil-fill me-2 fs-6"></i> Add Grade
        </button>

        <!-- Modal -->
        <div class="modal fade" id="personalModal" tabindex="-1" aria-labelledby="personalModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-4" id="personalModalLabel">Personal Details</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <form action="{{ url_for('views.edit_profile' ) }}" method="POST">
                        <div class="modal-body">
                            <div class="mb-3">
                                <label for="name" class="form-label fw-medium">Full Name</label>
                                <input id="name" name="name" type="text" class="form-control" value="{{ user.fullname }}" required>
                            </div>
                            <div class="mb-3">
                                <label for="bio" class="form-label fw-medium">Your Bio</label>
                                <textarea id="bio" name="bio" class="form-control" aria-label="With textarea">{% if user.bio %}{{user.bio}}{% endif %}</textarea>
                            </div>
                            <div class="mb-3">
                                <label for="city" class="form-label fw-medium">City</label>
                                <input id="city" name="city" type="text" class="form-control"
                                {% if user.city %}
                                value="{{ user.city }}"
                                {% endif %}>
                            </div>
                            <div class="mb-3">
                                <label for="country" class="form-label fw-medium">Country</label>
                                <input id="country" name="country" type="text" class="form-control" 
                                {% if user.country %}
                                value="{{ user.country }}"
                                {% endif %}>
                            </div>
                            <div class="mb-3">
                                <label for="url" class="form-label fw-medium">Your Website or Personal URL</label>
                                <input id="url" name="url" type="url" class="form-control" 
                                {% if user.url %}
                                value="{{ user.url }}"
                                {% endif %}>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Save changes</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="basic_infoModal" tabindex="-1" aria-labelledby="basic_infoModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-4" id="basic_infoModalLabel">Basic Info</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form action="{{ url_for('views.edit_basic_info' ) }}" method="POST">
                    <div class="modal-body">
                        <div class="mb-3">
                            <label for="home-address" class="form-label fw-medium">Home Address</label>
                            <input id="home-address" name="home-address" type="text" class="form-control"
                            {% if user.home_address %}
                            value="{{ user.home_address }}"
                            {% endif %}>
                        </div>
                        <div class="mb-3">
                            <label for="current_grade" class="form-label fw-medium">Current Grade</label>
                            <input id="current_grade" name="current_grade" type="number" min="10" max="12" class="form-control"
                            {% if user.current_grade %}
                            value="{{ user.current_grade }}"
                            {% endif %}>
                        </div>
                        <div class="mb-3">
                            <label for="highschool" class="form-label fw-medium">Highschool</label>
                            <input id="highschool" name="highschool" type="text" class="form-control" 
                            {% if user.highschool %}
                            value="{{ user.highschool }}"
                            {% endif %}>
                        </div>
                        <div class="mb-3">
                            <label for="date-of-birth" class="form-label fw-medium">Your Date of Birth</label>
                            <input id="date-of-birth" name="date-of-birth" type="date" class="form-control"
                            {% if user.date_of_birth %}
                            value="{{ user.date_of_birth.strftime('%Y-%m-%d') }}"
                            {% endif %}>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save changes</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="gradingModal" tabindex="-1" aria-labelledby="gradingModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-4" id="gradingModalLabel">My Grading</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form action="{{ url_for('views.add_grading' ) }}" method="POST">
                    <div class="modal-body">
                        <div class="mb-3">
                            <label for="subject" class="form-label fw-medium">Subject</label>
                            <input id="subject" name="subject" type="text" class="form-control" required>
                        </div>
                        <div class="mb-3">
                            <label for="overall" class="form-label fw-medium">Overall Score</label>
                            <input id="overall" name="overall" min="0" max="10" step="0.01" type="number" class="form-control" required>
                        </div>
                        <div class="mb-3">
                            <label for="grade" class="form-label fw-medium">Grade</label>
                            <input id="grade" name="grade" type="number" min="10" max="12" class="form-control"
                            {% if user.current_grade %}
                            value="{{ user.current_grade }}"
                            {% endif %} required>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Add</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="mediaModal" tabindex="-1" aria-labelledby="mediaModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-4" id="mediaModalLabel">Profile and Background Image</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form action="/home/profile/upload-personal-image" method="POST" enctype="multipart/form-data">
                    <div class="modal-body">
                        <div class="mb-3">
                            <label for="avatar-image-input" class="form-label fw-medium">Profile Image</label>
                            <input id="avatar-image-input" name="avatar-image-input" type="file" class="form-control" accept="image/*">
                        </div>
                        <div class="mb-3">
                            <label for="background-image-input" class="form-label fw-medium">Background Image</label>
                            <input id="background-image-input" name="background-image-input" type="file" class="form-control" accept="image/*">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save changes</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
