{% extends 'base.html' %}
{% block head %}
    <title>Clas | Sign Up</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/auth.css' )}}">
{% endblock %}
{% block body %}
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                {% if category == 'error' %}
                <div class="alert alert-danger fixed-top top-0" role="alert">
                    {{ message }}
                </div>
                {% else %}
                <div class="alert alert-success fixed-top  top-0" role="alert">
                    {{ message }}
                </div>
                {% endif %}
            {% endfor %}
        {% endif %}
    {% endwith %}
    <div class="d-flex align-items-center justify-content-center signup bg-light">
        <div class="p-3 bg-light signup-form">
            <form method="POST">
                <div class="signup-label mx-auto">
                    <a href="/"><img src="{{ url_for('static', filename='images/clas-black-transparent.png' ) }}" alt="" width="150" class="d-block mb-2 mx-auto"></a>
                    <p class="text-center fs-4 fw-semibold">Sign up</p>
                </div>
                <div class="mb-3">
                    <label for="fullname" class="form-label fw-medium">Full name</label>
                    <input type="fullname" class="form-control" id="fullname" name="fullname" required>
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label fw-medium">Email address</label>
                    <input type="email" class="form-control" id="email" name="email" required>
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label fw-medium">Password</label>
                    <input type="password" class="form-control" id="password" name="password" required>
                </div>
                <div class="mb-3">
                    <label for="reconfirm" class="form-label fw-medium">Confirm your password</label>
                    <input type="password" class="form-control" id="reconfirm" name="reconfirm" required>
                </div>
                <div class="mb-3">
                    <input type="checkbox" class="form-check-input me-1" id="term-policy" required>
                    <label for="term-policy" class="form-label fw-medium">Agree our Terms and Private Policy?</label>
                </div>
                    <div class="mb-3">
                    <button class="btn btn-dark form-control fw-medium" type="submit">Sign up</button>
                </div>
            </form>
            <div>
                <p class="fw-medium">Already have a Clas account? <a href="/login">Sign in!</a></p>
            </div>
        </div>
    </div>

{% endblock %}