{% extends 'main.html' %}
{% block meta %}
    <title>Clas | User</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/profile.css' ) }}">
{% endblock %}
{% block section %}
    <div class="d-flex flex-column w-100">
        <section class="personal-info rounded-3 bg-white box-shadow mb-2" style="height: fit-content; width: 100%;">
            <div class="d-block banner w-100" style="height: 23em; width: 100%; position: relative;">
                <img src="/data/{{user.id}}_background" onerror="this.onerror=null; this.src='https://media.istockphoto.com/id/1133363749/photo/white-canvas-texture.jpg?b=1&s=170667a&w=0&k=20&c=JvXOFDmN3ACSBnWMQPJfwebOw4y5vTv48OAOvIXu3S4='" alt="" class="object-fit-cover rounded-top-3 z-1" style="width: 100%; height: 100%;">
            </div>
            <div class="d-flex flex-column bg-white rounded-bottom-3 mx-lg-5 mx-3 mx-sm-3 py-3" style="position: relative;">
                <div class="d-flex rounded-circle justify-content-center avatar box-shadow">
                    <img src="/data/{{user.id}}_avatar" onerror="this.onerror=null; this.src='https://upload.wikimedia.org/wikipedia/commons/8/89/Portrait_Placeholder.png'" class="align-self-center avatar-image rounded-circle">
                </div>
                <div class="w-100 info">
                    <div class="name"><p class="space-none">{{ user.fullname }}</p></div>
                    {% if user.bio %}
                    <div class="bio"><p class="space-none">{{ user.bio }}</p></div>
                    {% endif %}
                    {% if user.city or user.country %}
                    <div class="city-country"><p class="space-none">
                        {% if user.city %}
                        {{ user.city }} city, 
                        {% endif %}
                        {% if user.country %}
                        {{ user.country }}
                        {% endif %}
                        </p>
                    </div>
                    {% endif %}
                    <div class="email"><a class="space-none text-primary" href="mailto:{{ user.email }}">{{ user.email }}</a></div>
                    {% if user.url %}
                    <div class="website"><a class="space-none text-primary" href="{{ user.url }}">{{ user.url }}</a></div>
                    {% endif %}
                </div>
            </div>
        </section>
        <section class="basic-info position-relative rounded-3 bg-white box-shadow mb-2" style="height: fit-content; width: 100%;">
            <div class="d-flex flex-column mx-lg-5 mx-3 mx-sm-3 py-3">
                <div class="section-label w-100">
                    <p class="space-none">Basic Info</p>
                    <hr class="w-100 mt-0">
                </div>
                <div class="row">
                    <div class="col-12 col-lg-6 col-md-12 col-sm-12 pb-2">
                        {% if user.home_address or user.city or user.country %}
                            <p class="space-none display-fs"><span class="fw-semibold">Address:</span> 
                            {% if user.home_address %}
                            {{user.home_address}}
                            {% endif %}
                            {% if user.city %}
                            · {{user.city}} city
                            {% endif %}
                            {% if user.country %}
                            · {{user.country}}
                            {% endif %}</p>
                        {% endif %}
                        {% if user.date_of_birth %}
                        <p class="space-none display-fs"><span class="fw-semibold">Date of Birth:</span> {{user.date_of_birth.strftime('%B %d, %Y')}} </p>
                        {% endif %}
                    </div>
                    <div class="col-12 col-lg-6 col-md-12 col-sm-12 pb-2">
                        {% if user.current_grade %}
                        <p class="space-none display-fs"><span class="fw-semibold">Current grade:</span> {{user.current_grade}} </p>
                        {% endif %}
                        {% if user.highschool %}
                        <p class="space-none display-fs"><span class="fw-semibold">Hignschool:</span> {{user.highschool}} </p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </section>

        <section class="grading position-relative rounded-3 bg-white box-shadow mb-2" style="height: fit-content; width: 100%;">
            <div class="d-flex flex-column mx-lg-5 mx-3 mx-sm-3 py-3">
                <div class="section-label w-100">
                    <p class="space-none">My Grading</p>
                    <hr class="w-100 mt-0">
                </div>
                <div class="row">
                    <div class="col-6">
                        <p class="space-none display-fs"><span class="fw-semibold">Subject</span></p>
                    </div>
                    <div class="col-4">
                        <p class="space-none display-fs text-center"><span class="fw-semibold">Overall score</span></p>
                    </div>
                    <div class="col-2">
                        <p class="space-none display-fs text-center"><span class="fw-semibold">Grade</span></p>
                    </div>
                </div>
                {% if user.grades %}
                <hr class="w-100 my-0">
                    {% for grade in user.grades %}
                    <div class="row mt-2">
                        <div class="col-6">
                            <p class="space-none display-fs">{{grade.subject}}</span></p>
                        </div>
                        <div class="col-4">
                            <p class="space-none display-fs text-center">{{grade.overall}}</p>
                        </div>
                        <div class="col-2">
                            <p class="space-none display-fs text-center">{{grade.grade}}</p>
                        </div>
                    </div>
                    {% endfor %}
                {% endif %}
                <hr class="w-100 mt-0">
            </div>
        </section>   
{% endblock %}
